@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #A3B18A;
    --color-background-light: #FCFBF9;
    --color-background-dark: #1F241A;
    --color-text-light: #333333;
    --color-text-dark: #F5F5F5;
    --color-accent-light: #D8B4A0;
    --color-accent-dark: #C88A8A;
    --color-border-light: #E2E8F0;
    --color-border-dark: #334155;
    --color-surface-light: #FFFFFF;
    --color-surface-dark: #2B2521;
    --color-muted-light: #616F89;
    --color-muted-dark: #94A3B8;
    --color-subtle-light: #FAF8F5;
    --color-subtle-dark: #2A2A2A;
  }
}

@layer utilities {
  .scroll-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }
}
